In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Housing.csv')
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [3]:
df.shape

(545, 13)

In [4]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [5]:
df.dtypes

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object

In [7]:
print(df['mainroad'].value_counts())
print(df['guestroom'].value_counts())

yes    468
no      77
Name: mainroad, dtype: int64
no     448
yes     97
Name: guestroom, dtype: int64

In [8]:
print(df['basement'].value_counts())
print(df['hotwaterheating'].value_counts())
print(df['airconditioning'].value_counts())

no     354
yes    191
Name: basement, dtype: int64
no     520
yes     25
Name: hotwaterheating, dtype: int64
no     373
yes    172
Name: airconditioning, dtype: int64

In [9]:
print(df['prefarea'].value_counts())
print(df['furnishingstatus'].value_counts())

no     417
yes    128
Name: prefarea, dtype: int64
semi-furnished    227
unfurnished       178
furnished         140
Name: furnishingstatus, dtype: int64

In [13]:
from sklearn.preprocessing import LabelEncoder

In [15]:
lb = LabelEncoder()
df['mainroad'] = lb.fit_transform(df['mainroad'])
df['guestroom'] = lb.fit_transform(df['guestroom'])
df['basement'] = lb.fit_transform(df['basement'])
df['hotwaterheating'] = lb.fit_transform(df['hotwaterheating'])
df['airconditioning'] = lb.fit_transform(df['airconditioning'])
df['prefarea'] = lb.fit_transform(df['prefarea'])
df['furnishingstatus'] = lb.fit_transform(df['furnishingstatus'])

In [16]:
print(df['mainroad'].value_counts())
print(df['guestroom'].value_counts())

1    468
0     77
Name: mainroad, dtype: int64
0    448
1     97
Name: guestroom, dtype: int64

In [17]:
print(df['basement'].value_counts())
print(df['hotwaterheating'].value_counts())
print(df['airconditioning'].value_counts())

0    354
1    191
Name: basement, dtype: int64
0    520
1     25
Name: hotwaterheating, dtype: int64
0    373
1    172
Name: airconditioning, dtype: int64

In [18]:
print(df['prefarea'].value_counts())
print(df['furnishingstatus'].value_counts())

0    417
1    128
Name: prefarea, dtype: int64
1    227
2    178
0    140
Name: furnishingstatus, dtype: int64

In [19]:
df.dtypes

price               int64
area                int64
bedrooms            int64
bathrooms           int64
stories             int64
mainroad            int64
guestroom           int64
basement            int32
hotwaterheating     int32
airconditioning     int32
parking             int64
prefarea            int32
furnishingstatus    int32
dtype: object

In [21]:
x = df.iloc[:,1:]
y = df['price']
print(type(x))
print(type(y))
print(x.shape)
print(y.shape)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
(545, 12)
(545,)

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(408, 12)
(137, 12)
(408,)
(137,)

In [25]:
x_train.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
110,6600,3,1,1,1,1,1,0,0,2,1,1
142,10500,4,2,2,1,0,0,0,0,1,0,1
321,3630,3,2,2,1,0,0,1,0,2,0,1
4,7420,4,1,2,1,1,1,0,1,2,0,0
188,5720,2,1,2,1,0,0,0,1,0,1,2

#### Applying LinearRegession Model

In [24]:
from sklearn.linear_model import LinearRegression

In [27]:
m1 = LinearRegression()
m1.fit(x_train,y_train)

LinearRegression()

In [28]:
# R2_Score
print('Training Score',m1.score(x_train,y_train))
print('Testing Score',m1.score(x_test,y_test))

Training Score 0.6727715409813215
Testing Score 0.6744271897892646

In [31]:
ypred_m1 = m1.predict(x_test)
print(ypred_m1)

[2883600.52057518 3878005.01792106 3043778.01633977 4286004.20911345
 3973806.6188633  4348421.27213539 4772377.41093498 6395987.86327824
 3648474.8394357  3015118.15642239 4538500.21912646 4598383.43490351
 4302395.55966695 7653161.84619905 5307855.15179564 3273231.09825234
 8091806.99718667 4427797.36146943 6766589.14069683 6432798.36961529
 6298918.87358275 2334344.71559256 5166462.1144921  6022660.53247482
 3069292.43852841 6031080.27853359 3347566.01172204 4853169.0928668
 4319927.80322965 5009604.45905332 4999640.91782124 2849377.60624618
 5092815.51570985 5196432.59913791 4667176.98228756 4527441.73300676
 6754491.36048124 7723865.99059306 6204700.23954236 4681065.55427453
 6930518.97560487 6194142.94378778 9023629.12651847 5832075.40583589
 4523492.16759919 5663416.80355167 4463290.83585594 2727484.19661819
 6427318.23667295 4602856.40934447 6846823.6755246  3851191.40359808
 6566474.1641931  4910027.87703647 5225217.22314344 6667061.20755206
 6386814.94665113 2927577.3860472  3353071.11496777 7030346.86230947
 5297248.23192742 2622435.27216796 7001780.38915041 2456522.06381599
 5029485.869191   3235013.59266822 3091802.92233917 4163517.54315923
 4433046.56635488 7317499.60670094 4148509.49163195 5141602.91032393
 3801127.91176176 4698297.37123378 5228146.56399002 3917479.12539987
 8196963.6739119  6180066.03623598 4691678.17015246 7562776.18551096
 3840502.56281704 6557333.88715951 5247377.69147385 4724547.84058165
 9520655.87182823 3196727.74126112 3511687.90084223 7673592.69151244
 3114250.15602742 4098501.21218862 6435688.87046716 6283489.98346447
 3137985.95424551 5414477.58275216 3434841.17721808 6499842.20477106
 4294094.50614495 2837535.45080414 5118227.2662617  3581528.46293023
 4608084.42005483 3925335.09619829 6596328.11776388 7256123.4604184
 6080677.62871917 3752961.79244185 4457289.83664435 5697442.36075946
 3539623.01857282 7192409.08023377 4462819.93678362 2853045.21352133
 5508322.08886885 4482828.91760554 6378331.65234918 7872228.91427812
 3900454.53842507 5846908.78264379 4310898.59427344 2840165.16716695
 3761330.23240692 7812504.19124558 3201466.5907579  3290749.06539728
 2739739.90447072 4307364.83078243 8065530.37343752 3206353.73275084
 3590568.31717303 6886759.15616218 4308382.00885741 2796853.14402106
 5675398.47744023 3381627.32771337 4983500.09634082 4596210.43189447
 4731788.54495099]

In [32]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [33]:
mse = mean_squared_error(y_test,ypred_m1)
rmse = np.sqrt(mean_squared_error(y_test,ypred_m1))
mae = mean_absolute_error(y_test,ypred_m1)
r2s = r2_score(y_test,ypred_m1)
print('MSE',mse)
print('RMSE',rmse)
print('MAE',mae)
print('R2_Score',r2s)
print('Testing Score',m1.score(x_test,y_test))

MSE 1555367815411.2485
RMSE 1247143.863157434
MAE 894547.7968377995
R2_Score 0.6744271897892646
Testing Score 0.6744271897892646

In [29]:
#  DecisionTreeRegressor
#  RandomForestRegressor
#  KNighborsRegressor
#  SVR

In [30]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

In [39]:
m2 = DecisionTreeRegressor(criterion='mse',max_depth=10)
m2.fit(x_train,y_train)

DecisionTreeRegressor(max_depth=10)

In [40]:
# R2_Score
print('Training Score',m2.score(x_train,y_train))
print('Testing Score',m2.score(x_test,y_test))

Training Score 0.9704617461316771
Testing Score 0.47447016021993627

In [41]:
ypred_m2 = m2.predict(x_test)
print(ypred_m2)

[ 2233000.          4371888.88888889  3619000.          5022500.
  4690000.          3850000.          5803000.          7700000.
  3266307.69230769  3271625.          4515000.          6650000.
  5040000.          6603333.33333333  4200000.          3619000.
 13300000.          4169666.66666667  6405000.          5803000.
  4795000.          3266307.69230769  4200000.          4025000.
  3619000.          7420000.          3561444.44444444  4200000.
  4707500.          6860000.          5425000.          3619000.
  4060000.          4690000.          3266307.69230769  5530000.
  5775000.          7210000.          4056500.          3754333.33333333
  8855000.          4200000.         13300000.          9240000.
  3754333.33333333  6860000.          3588375.          2374166.66666667
  7210000.          4338833.33333333  6160000.          4830000.
  7420000.          3826666.66666667  5950000.          5556250.
  8645000.          3271625.          3619000.          5250000.
  8400000.          3430000.          9240000.          2810888.88888889
  4056500.          3619000.          3619000.          4620000.
  4690000.          5600000.          4371888.88888889  5460000.
  3990000.          3727500.          5250000.          4966500.
  6083000.          5775000.          4620000.          5740000.
  3500000.          7542500.          5530000.          4338833.33333333
 10850000.          3619000.          3271625.          5950000.
  3266307.69230769  3754333.33333333  6300000.          7875000.
  3561444.44444444  4771666.66666667  3619000.          6405000.
  3271625.          3271625.          6650000.          3826666.66666667
  2989000.          3290000.          3290000.          7542500.
  4771666.66666667  3500000.          4690000.          6020000.
  3271625.          8540000.          5950000.          3266307.69230769
  4025000.          3701250.          9240000.          8190000.
  3118850.          4056500.          5775000.          2975000.
  3619000.          7420000.          3266307.69230769  2233000.
  2810888.88888889  3430000.          5600000.          3561444.44444444
  2730000.          7560000.          4060000.          2940000.
  9240000.          3266307.69230769  6860000.          3701250.
  3701250.        ]